
body{
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}
* { color:#fff; text-decoration: none;}
/*body {
  background-color:#ce3635;
  text-align: center;
  color:#fff;
  padding-top:10em;
}
*/


/* side bar */
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
	/* side bar pushes the screen */
}

.sidenav a:hover{
    color: #f1f1f1;
	/*hover over the button colors*/
}

.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main{
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* end side bar */


/* background */
body{
	/*background-color: #8A0707; //cc0000*/
  font-family: "courier", sans-serif;
  color: white;
  background-image: url("https://thumbs.gfycat.com/OptimisticSnivelingAmericanshorthair-size_restricted.gif");
  /*https://i.gifer.com/iLx.gif*/
  height:1000px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(138, 7, 7);

}

#lik{
	font-size: 20px;

}

#court{
	font-size: 50px;
}
#subhead{
  font-size: 20px;
}

/* floating button */

.me{
  text-align:center;
	background:url("cng.gif")no-repeat center / contain;
	width:60px;
	height:60px;
	bottom:16px;
	right:16px;
	position:fixed;
	border-radius:50%;
	z-index:999;
	animation:me 2s linear infinite alternate
	}

@keyframes me{
	from{transform:translateY(-4px)}
	to{transform:translateY(4px)}
	}

.me:hover span#right /*insta*/
    {right:110px;opacity:1;visibility: visible;width:}

.me:hover span#left /*facebook*/
	{right:60px;opacity:1;visibility: visible;}

.me:hover span#center /*linked in*/
  {right:160px;opacity:1;visibility: visible;}

#rtest{
  width:40px;
}
#ltest{
  width:40px;
}
#ctest{
  width:40px;
}
.me span{
	width:60px;
	top:10px;
	right:0;
	display:block;
	position:absolute;
	color:#008080;
	font-size:16px;
	z-index:-1;
	opacity:0;
	visibility:hidden;
	transition:all .5s ease
	}
.me img{
  width:25%;
  height:25%;
}

img#court{
  height: 50%;
  width: 50%;
}

/* end floating button */
