html{
	font-family: Hack,monospace;
}

body{
	background-color: #111010;
	transition: background-color .5s;
	margin-right: 3vw;
	margin-left: 3vw;
	margin-top: 3vh;	
}* { color:#fff; text-decoration: none;}


/* Navigation bar */
.nav{
	/* overflow: hidden; */
	margin-top: 3vh;
	float: right;
}

.nav a{
	padding: 0% .5vw;
}

.nav .icon {
	display: none;
  }

.hover-underline {
display: inline-block;
position: relative;
color: #fff;
}

.hover-underline::after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: 0;
left: 0;
background-color: #fff;
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
transform: scaleX(1);
transform-origin: bottom left;
}
/* Navigation bar */

  
/* Main name header */
.name-card{
	float: right;
}

#hey{
	margin-top: 10%;
	color: #ab0000;
}

#my-name{
	font-size: 100px;
	float: right;
	margin-top: 0;
	margin-bottom: 2vh;
	color: #fff;
}

#typing-subhead{
	padding: 0;
}

/* Main name header */

/* Image stack, perhaps change img to be more specific */

.image-stack img{
	width: 90%;
	height: auto;
	border-radius: 1vw;
}

.image-stack{
	padding: 2vw;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	position: relative;
}

.stack-top{
	grid-column: 1 / span 8;
	grid-row: 1;
	padding-top: 30%;
	z-index: 1;
}

.stack-bot{
	grid-column: 4 / -1;
	grid-row: 1;
}
/* End of main image stack*/


.content{
	text-align: center;
}

p{
	margin-left: 10vw;
	margin-right: 10vw;
	color: #bfbdc1;
}

#fun-facts{
	text-decoration: underline;
}

.skills img{
	width: 100px;
	height: 100px;
	object-fit: cover;
}

  
/* floating button */
.float-social{
	text-align:center;
	background:url("img_assets/cng_noBG.png")no-repeat center / contain;
	width:60px;
	height:60px;
	bottom:16px;
	right:16px;
	position:fixed;
	border-radius:50%;
	z-index:999;
	animation:me 2s linear infinite alternate
}
  
@keyframes me{
	from{transform:translateY(-4px)}
	to{transform:translateY(4px)}
}
  
.float-social:hover span#center 
	{right:110px;opacity:1;visibility: visible;}

.float-social:hover span#right
	{right:60px;opacity:1;visibility: visible;}

.float-social:hover span#left 
	{right:160px;opacity:1;visibility: visible;}
  
#rightWidth{
	width:40px;
}
#leftWidth{
	width:40px;
}
#centerWidth{
	width:40px;
}
.float-social span{
	width:60px;
	top:10px;
	right:0;
	display:block;
	position:absolute;
	color:#008080;
	font-size:16px;
	z-index:-1;
	opacity:0;
	visibility:hidden;
	transition:all .5s ease
}
.float-social img{
	width:25%;
	height:25%;
}

img#court{
	height: 50%;
	width: 50%;
}
  
  /* end floating button */

  

 .container{
	/*background-image: url(img_assets/dark.png);*/
	background-color: #221E1E;
	padding: 2vh;
	border-radius: 1vw;
 }

 

 

#end-card{
	text-align: center;
	font-weight: bold;
	font-size: 1vw;
	color: #fff;
	position:relative;
}

#end-heart{
    text-align: center;
    color: red;
	font-weight: bold;
    font-size: 1vw;
    position:relative;
}

 /* Responsive */
 @media (max-width: 600px){
    main{
        flex-wrap: nowrap;
    }
    
    div{
        flex-basis: 33%;
    }

	.nav a {display: none;}
	.nav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px){
	.nav.responsive {position: relative;}
	.nav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.nav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	.nav a:hover{
		background-color: #111010;
	}

	.name-card{
		float:none;
	}

	#hey{
		margin-top:auto;
	}
	
	#my-name{
		font-size: 50px;
		float:none;
	}

	#typing-subhead{
		font-size: 15px;
	}

	p{
		margin-left: 2vw;
		margin-right: 2vw;
	}
	
}